<nav class="pagination" role="navigation" aria-label="pagination">
  {% if page > 1 %}
    <a href="{{ path('oc_platform_home', {'page': page - 1}) }}" class="pagination-previous"><</a>
  {% endif  %}
  {% if page < nbPages %}
  <a href="{{ path('oc_platform_home', {'page': page + 1}) }}"  class="pagination-next">></a>
  {% endif  %}
  <ul class="pagination-list">
  {% for p in range(1, nbPages) %}
    <li>
      <a href="{{ path('oc_platform_home', {'page': p}) }}" 
         class="pagination-link {% if p == page %}is-current{% endif %}" 
         aria-label="Goto page {{p}}">{{p}}
      </a>
    </li>
  {% endfor %}
    {# <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li> #}
  </ul>
</nav>